fastapi==0.110.0
uvicorn==0.29.0
deepface==0.0.87
opencv-python-headless==4.9.0.80
tensorflow==2.16.1
tf-keras==2.16.0
torch==2.1.0+cpu
torchvision==0.16.0+cpu
python-multipart==0.0.9
--extra-index-url https://download.pytorch.org/whl/cpu